<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<div class="wrapper">
<iframe src="https://player.vimeo.com/video/193005880?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<hr>

<div class="wrapper highlight-area">
  <div class="grid-uniform">
    <div class="grid__item one-half medium-down--one-whole">
      {% assign product = all_products['prosthetic-reality-book'] %}
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    </div>
    <div class="grid__item one-half medium-down--one-whole storebg">
      {{ "storebg.png" | asset_url | img_tag: "Download" }}
      <div class="appstore-link">
      <a href="https://itunes.apple.com/us/app/eyejack/id1163248223?mt=8">
      {{ "appstore.png" | asset_url | img_tag: "App Store" }}
      </a>
      </div>
      <div class="googleplay-link">
      <a href="#">
      {{ "googleplay.png" | asset_url | img_tag: "App Store" }}
      </a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="wrapper">

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

  {% comment %}
    Loop through products in the prosthetic-reality-book collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections.prosthetic-reality-book.products limit:3 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% include 'product-grid-item' %}

  {% else %}
    {% comment %}
      For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>
<div class="more-products red-link">
  {{ 'MORE PRODUCTS >' | link_to: './collections/all', 'More Products' }}
</div>
</div>

<hr>

<div class="wrapper text-center">
<h5 class="social-header">Follow us on <a href="http://instagram.com/eyejackapp"><span class="red-link">Instagram</span></a></h5>

<div class="grid">
<div class="grid__item one-whole">
<div class="instagram-images">

<div id="instafeed"></div>

<!-- SnapWidget -->
<!-- <script src="https://snapwidget.com/js/snapwidget.js"></script> -->
<!-- <iframe src="https://snapwidget.com/embed/292945" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>-->

</div>
</div>
</div>
</div>
