<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
Video block
{% endcomment %}
<div class="wrapper">
<h3 class="home_page">EyeJack is an Augmented Reality App and platform that specialises in the curation and distribution of augmented art.</h3>
<iframe src="https://player.vimeo.com/video/193005880?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<hr>

{% comment %}
Exhibitions block
{% endcomment %}
<div class="wrapper">
  <div class="grid-uniform">
    <div class="grid__item one-half medium-down--one-whole">
      <h1 class="home_page">Exhibitions.</h1>
      <h3 class="home_page">EyeJack is exhibiting!</h3>
      <p>If you're a gallery or an event and would like exhibit our extensive collection of augmented art, feel free to contact us about our availability and pricing. We also offer custom AR solutions including art, animation and sound design.</p>
      <a href="mailto:info@eyejackapp.com?Subject=Exhibitions">
        <p>
          <button class="btn">
            <span>Contact Us</span>
          </button>
        </p>
      </a>
    </div>
    <div class="grid__item one-half medium-down--one-whole">
      {{ "eyejack-exhibitions.gif" | asset_url | img_tag: "Exhibitions" }}
    </div>
  </div>
</div>

<hr>

{% comment %}
Artists block
{% endcomment %}
<div class="wrapper">
  <h1 class="home_page">Artists.</h1>
  <h3 class="home_page">Get in early!</h3>
  <p>We're working towards opening up the EyeJack platform to artists, making it easy to create and share augmented art. Early beta access will be available soon. Register your details and we'll be sure to keep you in the loop.</p>
  <div class="grid-uniform">
    <div class="grid__item one-half medium-down--one-whole">
      {{ "artists.png" | asset_url | img_tag: "Artists" }}
    </div>
    <div class="grid__item one-half medium-down--one-whole">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="form-vertical">
      <form action="//eyejackapp.us16.list-manage.com/subscribe/post?u=a80c8be56442ed5bb542641d7&amp;id=e7cda6d6e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <h5 class="form-label"><label for="mce-NAME">Name</label></h5>
            <input type="text" value="" name="NAME" class="required" id="mce-NAME">
          </div>
          <div class="mc-field-group">
            <h5 class="form-label"><label for="mce-EMAIL">Email</label></h5>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <h5 class="form-label"><label for="mce-MMERGE4">Website <span class="secondary-label">(optional)</span> </label></h5>
            <input type="url" value="" name="MMERGE4" class=" url" id="mce-MMERGE4">
          </div>
          <br />
          <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
            <span>Submit</span>
          </button>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a80c8be56442ed5bb542641d7_e7cda6d6e8" tabindex="-1" value=""></div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='NAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='MMERGE4';ftypes[4]='url';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<hr>

<div class="wrapper highlight-area">
  <div class="grid-uniform">
    <div class="grid__item one-half medium-down--one-whole">
      {% assign product = all_products['prosthetic-reality-book'] %}
      <a href="{{ product.url | within: collection }}">
        {{ "tile_featured.png" | asset_url | img_tag: "Featured - Prosthetic Reality Artbook"}}
      </a>
    </div>
    <div class="grid__item one-half medium-down--one-whole storebg">
      {{ "storebg.png" | asset_url | img_tag: "Download" }}
      <div class="appstore-link">
      <a href="https://itunes.apple.com/us/app/eyejack/id1163248223?mt=8" target="_blank">
      {{ "appstore.png" | asset_url | img_tag: "App Store" }}
      </a>
      </div>
      <div class="googleplay-link">
      <a href="https://play.google.com/store/apps/details?id=com.eyejackapp" target="_blank">
      {{ "googleplay.png" | asset_url | img_tag: "Google Play" }}
      </a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="wrapper">
  <h1 class="home_page">Products.</h1>

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

  {% comment %}
    Loop through products in the prosthetic-reality-book collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% assign all_products = collections.prosthetic-reality-book.products | sort: 'title' %}
  {% for product in all_products limit:3 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% include 'product-grid-item' %}

  {% else %}
    {% comment %}
      For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>
<div class="more-products red-link">
  {{ 'MORE PRODUCTS >' | link_to: './collections/all', 'More Products' }}
</div>
</div>

<hr>

<div class="text-center">
<h5 class="social-header">Follow us on <a href="http://instagram.com/eyejackapp" target="_blank"><span class="red-link">Instagram</span></a></h5>

<div id="instafeed" class="wrapper grid-uniform">
</div>

</div>
</div>
</div>
